<a href="https://colab.research.google.com/github/RamaGitam/Skill-Devlopment-IV/blob/main/Forloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FOR LOOP**

In [1]:
# Print elements of a list using for loop
lst = ['Rama', 5, 10.2]

for i in lst:

  print (i)

Rama
5
10.2

In [2]:
# Print elements of a string using for loop
string = 'Rama'

for i in lst:

  print (i)

Rama
5
10.2

In [3]:
# Print 1 to 10 using for loop

for i in range(11):

  print (i)

0
1
2
3
4
5
6
7
8
9

In [7]:
# Print 11 to 20 using for loop

for i in range(11, 20+1):

  print (i)

11
12
13
14
15
16
17
18
19
20

In [5]:
# Print 11 to 20 using for loop with 2 space gap

for i in range(11, 20, 2):

  print (i)

11
13
15
17
19

In [6]:
# Print  20 to 5 in reverse order using for loop with 2 space gap

for i in range(20, 5, -1):

  print (i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6

In [8]:
# Print  1 t0 10 only odd numbers using for loop

for i in range(1, 11):

  if i%2 != 0:
    print (i)

1
3
5
7
9

In [13]:
# Add the elements of the list [20, 10, 30] and display the result

lst = [20, 10, 30]

sum = 0

for i in lst:

  sum = sum + i     
  
  # sum += i

print (sum)

60

**NESTED FOR LOOP**