<a href="https://colab.research.google.com/github/RamaGitam/Skill-Devlopment-IV/blob/main/Forloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FOR LOOP**

In [ ]:
# Print elements of a list using for loop
lst = ['Rama', 5, 10.2]

for i in lst:

  print (i)

Rama
5
10.2

In [ ]:
# Print elements of a string using for loop
string = 'Rama'

for i in lst:

  print (i)

Rama
5
10.2

In [ ]:
# Print 1 to 10 using for loop

for i in range(11):

  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Print 11 to 20 using for loop

for i in range(11, 20+1):

  print (i)

11
12
13
14
15
16
17
18
19
20

In [ ]:
# Print 11 to 20 using for loop with 2 space gap

for i in range(11, 20, 2):

  print (i)

11
13
15
17
19

In [ ]:
# Print  20 to 5 in reverse order using for loop with 2 space gap

for i in range(20, 5, -1):

  print (i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6

In [ ]:
# Print  1 t0 10 only odd numbers using for loop

for i in range(1, 11):

  if i%2 != 0:
    print (i)

1
3
5
7
9

In [ ]:
# Add the elements of the list [20, 10, 30] and display the result

lst = [20, 10, 30]

sum = 0

for i in lst:

  sum = sum + i     
  
  # sum += i

print (sum)

60

**NESTED FOR LOOP**

In [4]:
# Simple Nested For Loop
for i in range (2):
  print ('Outer Loop', i)

  for j in range (3):
    print("Innter Loop", j)
  print("\n")

Outer Loop 0
Innter Loop 0
Innter Loop 1
Innter Loop 2


Outer Loop 1
Innter Loop 0
Innter Loop 1
Innter Loop 2

In [18]:
for i in range(1,20):
  print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [12]:
f = [i for i in range(1,20)]
print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
a = 10
b = 5
if a>b: 
  print(a)
else: 
  print (b)

10

In [14]:
a = 10
b = 5
print (a) if a>b else print (b)

10

In [20]:
# for loop with if else condition in single line
f = [i for i in range(0,20) if i%2 == 0]
print(f)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
# Two for loop in single line
odd, even = [o for o in range(0,20) if o%2 == 1], [e for e in range(0,20) if e%2 == 0]
print(odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
# Two for loop in single line
odd, even = [o for o in range(0,20) if o%2 == 1], [e for e in range(0,20) if e%2 == 0]
print(f'odd: {odd} \neven: {even}')

odd: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
even: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [27]:
a = 5
b = 10
c = [a if a>b else b for i in range(0,20)]
print(c)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]